

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #333;
    }
    nav {
        display: flex;
        gap: 60px;
        align-items: center;
        .logo {
            width: 13%;
            img {
                max-width: 100%;
            }
        }
        ul {
            display: flex;
            gap: 30px;
            a {
                color: #fff;
                font-weight: bold;
                transition:.3s;
                i {
                    margin-left: 5px;
                }
                &:hover {
                    color: var(--main-color);
                    
                }
            }
            li {
                position: relative;
                /* DropDown */
                ul.drop-down {
                    position: absolute;
                    top: 120%;
                    left: 0;
                    background-color: var(--main-color);
                    display: none;
                    width: 250px;
                    border-radius: 10px;

                    transition: .3s;

                    li {
                        padding: 10px 0;
                    }
                    a {
                        color: var(--black-color);
                        font-weight: bold;
                        font-size: 14px;
                        padding: 20px 0 20px 15px;
                        transition:.3s;
                        &:hover {
                            color: #333;
                        }
                    }
                    &.show {
                        display: block;
                    }
                    
                }

            }
        }
    }
    .quick-links ul {
        display: flex;
        gap: 17px;
        align-items: center;
        a {
            color: var(--main-color);
            font-weight: bold;
            font-size: 20px;
            padding:5px 0;
            transition:.3s;
            &:hover {
                color: #fff;
            }

        }
        li:last-child {
            color: #fff;
            background-color: #FFFFFF1A;
            padding: 10px 11px;
            border-radius: 50%;
            font-size: 14px;
            cursor: pointer;
            &:hover {
                background-color: var(--main-color);
                color: var(--black-color);
            }
        }
    }
}
.side-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    min-height: 100vh;
    background-color: var(--black-color);
    transition:.3s;
    z-index: 2000;
    transform: translateX(100%);
    padding: 100px 50px;
    transition: .3s;
    .close {
        position: absolute;
        top: 30px;
        right: 30px;
        i {
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            transition: .3s;
            &:hover {
                background-color: var(--main-color);
                border-color: var(--main-color);
                color: #000;
            }
        }
    }

    .boxes {
        .box {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 40px 0;
            border-bottom: 1px solid #333;
            i {
                color: var(--main-color);
                font-size: 2em;
                margin-bottom: 20px;
            }
            h4 {
                color: #fff;
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
            }
            p {
                color: #eee;    
            }
            .social {
                display: flex;
                gap: 10px;
                justify-content: center;
                margin-top: 20px;
                a i{
                    color: var(--main-color);
                    font-size: 20px ;
                    padding: 10px ;
                    border-radius: 50%;
                    border: 1px solid var(--main-color);
                    transition:.3s;
                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }
            }
        }
    }
}

section.welcoming {
    background: url(../imgs/about-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 300px  0 0 ;
    gap: 20px;
    min-height: 70vh;
    color: #fff;
    span {
        color: var(--main-color);
    }
    h1 {
        font-size: 5em;
        font-weight: normal;
    }
    p {
        i {
            margin: 0 10px;
        }
    }
}


section.welcome {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    padding: 200px 10px 50px var(--padding);
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        object-fit: cover;
    }
    h2 {
        color: #fff;
        font-size: 7em;
        font-weight: 300;
        .serviceSpanAnimation {
            color: var(--main-color);
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            transition: .3s;
            animation: fillText 2.5s  cubic-bezier(0.4, 0, 1, 1) infinite;
        }
    }
    .adds {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        .play {
            display: flex;
            justify-content: center;
            width: 50%;
            cursor: pointer;
            opacity: 0;
            i {
                padding: 30px;
                font-size: 30px;
                border-radius: 50%;
                width: fit-content;
                height: fit-content;
                background-color: var(--main-color); 
                color: #000;
                transition: .3s;
                /* animation: rotate 30s linear infinite; */

            }

        }
        .text {
            width: 58%;
            p {
                color: #fff;
                line-height: 1.8;
                margin-bottom: 50px;
            }
        }
    }
}


section.text-slider.ticker {
    background-color: var(--main-color);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
    .list {
        display: flex;
        animation: ticker 90s linear infinite;
        > div {
            display: flex;
            background-color: var(--main-color);
            gap: 40px;
        }
    }
    h4 , i {
        font-size: 2em;
        white-space: nowrap;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}


@keyframes ticker {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes circlerotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes fillText {
    0%,100% {
        width: 0%;
    }
    80% {
        width: 100%;
    }
}


section.about { 
    padding: 150px var(--padding);
    display: flex;
    gap: 20px;
    .text-div {
        position: relative;
        &::before {
            content: '';
            background: url(../imgs/about-agency-bg.png) no-repeat left center;
            display: block;
            position: absolute;
            left: -120px;
            top: 50%;
            background-size: contain;
            opacity: 50%;
            width: 386px;
            height: 400px;
            animation: circlerotate 20s infinite linear;
            z-index: 2;
        }
        .text {
            width: 100%;
            z-index: 3;
        }
    }
    .benifits {

        .cards {
            display: flex;
            flex-direction: column;
            .card {
                padding-left: 50px;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 2px;
                    background-color: #333;
                    left: 0;
                    top: 0;
                }
                .circle {
                    position: absolute;
                    border: 1px solid var(--main-color);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    left: -10px;
                    top: 25%;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 7px;
                        height: 7px;
                        background-color: var(--main-color);
                        border-radius: 50%;
                        transition:.3s;
                    }
                }
                .icon i {
                    color:var(--main-color);
                    font-size: 2.3em;
                }
                h4 {
                    margin: 15px 0;
                    color: #fff;
                    font-size: 1.5em;
                }
                p {
                    color: #eee;
                    line-height: 1.7;
                    margin-bottom: 40px;
                }
            }

        }
    }
}


section.services {
    > p {
        color: #fff;
        line-height: 1.8;
        margin: 50px 0;
        font-size: 15px;
        text-align: center;
        a {
            color: var(--main-color);
            text-decoration: underline;
            transition:.3s;
            &:hover {
                color: #fff;
            }
        }
    }
    .boxes {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin-top: 100px;
        .box {  
            flex-basis: calc(100% / 3 - 20px);
            padding: 40px;
            background-image: url(https://demo.awaikenthemes.com/artistics/wp-content/uploads/2024/11/service-bg.svg);
            background-position: top left;
            background-repeat: no-repeat;
            background-size: auto;
            border-radius: 30px;
            border: 1px solid #FFFFFF1A;
            position: relative;
            transition:.3s;
            i {
                color: var(--main-color);
                font-size: 3em;
                margin-bottom: 80px;
            }
            h4 {
                color: #fff;
                font-size: 1.5em;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                color: #eee;
                line-height: 1.7;
            }
            .iconLink i{
                color: var(--main-color);
                font-size: 1.7em;
                position: absolute;
                top: 40px;
                right: 20px;
                transform: rotate(-45deg);
                transition:.3s;
            }
            &:hover {
                transform: translateY(-10px);
                border-bottom-color: var(--main-color);
                .iconLink i {
                    transform: rotate(0);
                }
            }
        }
    }
}


section.expertise {
    padding-top: 100px;
    padding-bottom: 100px;
    .holder {
        background-color: transparent;
        background-image: linear-gradient(180deg, var(--main-color) 0%, #00000000 90.04%);
        position: relative;
        padding: 80px;
        display: flex;
        gap: 30px;
        * {
            z-index: 2;
        }
        &::before {
            content: "";
            position: absolute;
            left: 20px;
            top: 20px;
            border-radius: 16px;
            background: linear-gradient(180deg, #000000 75%, rgba(0, 0, 0, 0) 99.04%);
            width: calc(100% - 40px);
            height: calc(100% - 20px);
            z-index: 1;
        }
        .numbers {
            padding-right: 20px;
            h5 {
                color: #fff;
                font-size: 3em;
                span {
                    color: var(--main-color);
                }
            }
            .boxes {
                display: flex;
                gap: 30px ;
                margin-top: 70px;
                .box {
                    .number {
                        font-size: 3em;
                        font-weight: bold;
                        color: var(--main-color);
                    }
                    p {
                        margin-top: 10px;
                        color: #eee;
                        line-height: 1.7;
                    }
                }
            }
        }
        .text {
            padding-left: 20px;
            width: 60%;
            .part {
                position: relative;
                display: flex;
                gap: 5px ;
                margin-bottom: 60px;
                i {
                    color: var(--main-color);
                    font-size: 1.2em;
                    margin-top: 5px;
                }

                p {
                    color: #fff;
                    line-height: 1.7;
                    strong {
                        font-size: 1.2em;
                        font-weight: bold;
                    }
                }

            }
        }
    }
}


section.why {
    position: relative;
    overflow-x: hidden;
    &::before {
        content: '';
        position: absolute;
        right: -90px;
        top: 50%;
        left: auto;
        background: url(../imgs/why-bg.png) no-repeat left center;
        background-size: contain;
        opacity: 50%;
        width: 310px;
        height: 325px;
        animation: circlerotate 10s infinite linear;
        animation-direction: alternate;
        z-index: -1;
    }
    .holder {
        display: flex;
        gap: 60px;
        margin-top: 100px;
        .benifits {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: 30px 0;
            .benifit {
                background-color: transparent;
                border: 1px solid var(--black-color);
                padding: 25px ;
                border-radius: 15px;
                position: relative;
                > * {
                    z-index: 1;
                }
                h3 {
                    color: #fff;
                    font-size: 1.3em;
                    margin-bottom: 10px;
                }
                p {
                    color: #eee;
                    line-height: 1.7;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 100%);
                    border-radius: 15px;
                    z-index: -1;
                    transition: .3s;
                }
                &.active::before {
                    width: 100%;
                }
            }   
        }
        img {
            max-width: 100%;
        }
    }

}


section.join {
    .boxes {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding:0 30px  ;
        .box {
            flex-basis: calc(100% / 4 - 30px);
            padding: 30px 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid var(--black-color);
            border-radius: 100px;
            position: relative;
            transition: .3s;
            .icon {
                position: absolute;
                top: -10%;
                left: -10%;
                background-color: var(--main-color);
                color: #000;
                padding: 15px;
                border-radius: 50%;
                transition: .3s;
                i {
                    font-size: 1.5em;
                    transition: .3s;
                }
            }
            .content {
                display: flex;
                gap: 10px;
                align-items: center;
                .text {
                    h4 {
                        color: #fff;
                        font-size: .9em;
                        font-weight: bold;
                    }
                    p {
                        color: #999;
                        font-size: 14px;
                    }
                }
            }
            &:hover {
                transform: translateY(-10px);
                .icon {
                    background-color: var(--black-color);
                    color: #fff;
                }
                .arrow-button i {
                    transform: rotate(0);
                }
            }
        }
    }
}


section.how {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: -90px;
        top: 80%;
        background: url(../imgs/how-bg.png) no-repeat;
        background-position: left center;
        background-size: contain;
        opacity: 50%;
        width: 297px;
        height: 340px;
        animation: circlerotate 8s infinite linear;
        animation-direction: alternate;
        z-index: -1;
    }
    .cards {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        .card {
            background-image: url(https://demo.awaikenthemes.com/artistics/wp-content/uploads/2024/11/service-bg-2.svg);
            background-position: top left;
            background-color: #1b1b1b70;
            background-repeat: no-repeat;
            background-size: auto;
            flex-basis: calc(100% / 3 - 30px);
            border: 1px solid #FFFFFF1A;
            border-radius: 10px;
            position: relative;
            transition:.3s;

            .head , .content {
                padding: 35px 30px 0;
            }
            .head {
                display: flex;
                justify-content: space-between;
                h4 {
                    color: #fff;
                    font-size: 1.3em;
                    font-weight: bold;
                }
                a {
                    font-size: 1em;
                }
            }
            .content {
                p {
                    color: #eee;
                    line-height: 1.7;
                    margin-bottom: 60px;
                }
            }
            .footer {
                display: flex;
                justify-content: space-between;
                align-items: end;
                p {
                    color: #fff;
                    text-align: center;
                    font-size: 1.2em;
                    padding: 30px 30px 20px 35px;
                    span {
                        display: block;
                        color: var(--main-color);
                        font-size: 3em;
                        font-weight: bold;
                    }
                }
                .icon {
                    padding: 40px 40px 40px 40px;
                    border-radius: 30px 0px 0px 0px;
                    background-color: var(--main-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 40%;
                    position: relative;
                    overflow: hidden;
                    i {
                        font-size: 2em;
                        font-weight: bold;
                        color: var(--black-color);
                        z-index: 2;
                        transition: .3s;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -100%;
                        right: -100%;
                        width: 100%;
                        height: 100%;
                        border-radius: inherit;
                        background: #fff;
                        z-index: 1;
                        transition:.3s;
                    }
                }
            }
            &:hover  {
                transform: translateY(-10px);
                .head a.arrow-button i {
                    transform: rotate(0) !important;
                }
                .icon {
                    &::before {
                        bottom: 0;
                        right: 0;
                    }
                    i {
                        color: var(--black-color);
                    }
                }
            }
        }
    }
}


section.portfolio {
    .categories {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 80px;
        align-items: center;
        justify-content: center;
        span.category {
            color: #fff;
            border: 1px solid var(--black-color);
            border-radius: 10px;
            padding: 10px 20px;
            cursor: pointer;
            transition: .3s;
            &:hover , &.active {
                background-color: var(--main-color);
                color: var(--black-color);
            }
        }
    }
    .cards {
        display: flex;
        gap: 30px; 
        flex-wrap: wrap;
        .card {
            width: calc(100% / 3 - 30px);
            position: relative;
            &::after {
                content: attr(data-category);
                background-color: #FFFFFF1A;
                backdrop-filter: blur(20px);
                border-radius: 6px;
                font-size: 14px;
                text-transform: capitalize;
                padding: 12px 15px;
                color: #fff;
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 1;
            }
            .img {
                margin-bottom: 15px;
                img {
                    max-width: 100%;
                    object-fit: cover;
                    aspect-ratio: 1 / 0.8;
                    transition: .3s;
                }
                .arrow-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -40%);
                    padding: 30px;
                    font-size: 2em;
                    z-index: 3;
                    opacity: 0;
                    &:hover {
                        background-color: var(--main-color);
                        border-color: var(--main-color);
                        i {
                            color: var(--black-color);
                            transform: rotate(0);
                        }
                    }
                }
                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                    .arrow-button {
                        opacity: 1;
                        transform: translate(-50% , -50%);
                    }
                }
            }
            h3 a{
                color: #fff;
                font-size: 1.1em;
                margin-bottom: 10px;
                text-align: center;
                display: block;
                transition: .8s;
                &:hover {
                    color: var(--main-color);
                }
            }
        }
        
    }
}


section.testimonials {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: -90px;
        top: 70%;
        background: url(../imgs/testimonial-bg-shape.png) no-repeat;
        background-position: left center;
        background-size: contain;
        opacity: 50%;
        width: 350px;
        height: 400px;
        animation: circlerotate 8s infinite linear;
        animation-direction: alternate;
        z-index: -1;
    }
    .rate-holder {
        display: flex;
        gap: 100px;
        .final-rate {
            /* background-color: var(--black-color); */
            padding: 50px;
            border-radius: 30px;
            backdrop-filter: blur(100px);
            width: calc(55% - 100px);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            border: 1px solid var(--black-color);
            span.rate {
                color: #fff;
                font-size: 5em;
                font-weight: bold;
            }
            .stars {
                display: flex;
                gap: 5px;
                i {
                    color: var(--main-color);
                    /* font-size: .9em; */
                }
            }
            span.reviews-numbers {
                color: #eee;
                font-size: .9em;
            }
            p {
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
            }
            .imgs {
                display: flex;
                .img {
                    margin-left: -5px;
                }
            }
        }
        .testimonialSwiper {
            position: relative;
            .swiper-slide {
                padding: 40px 0;
                .logo {
                    img {
                        max-width: 150px;
                    }
                }
                .stars {
                    display: flex;
                    gap: 5px;
                    margin: 30px 0;
                    i {
                        color: var(--main-color);
                        font-size: .9em;
                    }
                }
                > p {
                    color: #eee;
                    line-height: 1.7;
                    margin: 20px 0 40px;
                    font-size: 1.3em;
                    font-weight: bold;
                }
                .auth {
                    display: flex;
                    gap: 20px;
                    .img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        img {
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .text {
                        display: flex;
                        flex-direction: column;
                        gap: 5px ;
                        h4 {
                            color: #fff;
                            font-size: 1em;
                            font-weight: bold;
                        }
                        p {
                            color: #eee;
                            font-size:.9em;
                        }
                    }
                }

            }
            .btns {
                display: flex;
                gap: 40px;
                z-index: 10;
                position: absolute;
                bottom: 40px;
                right: 1%;
                *::after {
                    font-size: 1.3em;
                }
                .swiper-button-prev , 
                .swiper-button-next {
                    padding: 10px 20px;
                    border-radius: 6px;
                    background-color: var(--black-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-weight: bold;
                    position: relative;
                    transition: .3s ;
                    &:hover {
                        background-color: var(--main-color);
                        color: var(--black-color);
                    }
                }
            }
        }
    }
}

section.benifits-parts {
    .parts {
        display: flex;
        flex-wrap: wrap;
        backdrop-filter: blur( 100px) ;
        border: 1px solid var(--black-color);
        padding: 60px;
        border-radius: 30px;
        .part {
            width: calc(100% / 4);
            padding-right: 40px;
            &:not(:first-child) {
                border-left: 1px solid var(--black-color);
                padding-left: 40px;
            }
            i {
                color: var(--main-color);
                font-size: 2em;
            }
            h5 {
                color: #fff;
                font-size: 1.2em;
                margin: 30px 0;
            }
            ul {
                list-style:armenian;
                li {
                    color: #fff;
                    font-size:.9em;
                    margin-bottom: 20px;
                    margin-left: 20px;
                    p {
                        margin-left: 5px;
                    }
                    &::marker {
                        content: "\f621";
                        font-family: 'FontAwesome';
                        font-weight: 900;
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

section.key-benifit {
    .boxes {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        .box {
            width: calc(100% / 4 - 40px);
            padding: 30px;
            padding-bottom: 60px;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            color: #fff;
            backdrop-filter: blur(100px);
            border: 1px solid var(--black-color);
            transition: .3s;
            span.number {
                color:#fff;
                font-weight: bold;
                font-size: 1.5em;
            }
            i {
                color: var(--main-color);
                font-size: 2em;
                margin: 30px 10px;
            }
            h4 {
                font-size: 1.7em;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p {
                font-size: .9em;
                line-height: 1.7;
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

section.collaborate {
    position: relative;
    background-image: url(https://demo.awaikenthemes.com/artistics/wp-content/uploads/2024/11/work-together-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: -90px;
        top: 40%;
        background: url(../imgs/collobrate.png) no-repeat;
        background-position: left center;
        background-size: contain;
        opacity: 50%;
        width: 350px;
        height: 400px;
        animation: circlerotate 8s infinite linear;
        animation-direction: alternate;
        z-index: -1;
    }
    p {
        color: #fff;
        text-align: center;
        font-size: 1.4em;
        font-weight: bold;
    }
    h2 {
        color: #fff;
        font-size: 10em;
        text-align: center;
        margin-top: 50px;
    }
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--main-color);
        border-color: var(--main-color);
        color: var(--black-color);
        font-size: .9em;
        font-weight: bold;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        backdrop-filter: blur(20px);
        transition: .3s;
        i {
            color: var(--black-color);
            font-size: 1.2em;
        }
        &:hover {
            background-color: var(--black-color);
            color: #fff;
            i {
                color: #fff;
            }
        }
    }
}

footer {
    margin-top: 50px;
    .cols {
        padding: 30px var(--padding);
        display: flex;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        h4 {
            color: #fff;
            font-size: 1.2em;
            margin-bottom: 40px;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            li {
                a {
                    color: #fff;
                    font-size: 1em;
                    transition:.3s;
                    &:hover {
                        color: var(--main-color);
                    }
                }
            }
        }
        .logo {
            img {
                margin-bottom: 40px;
            }
            a {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 25px;
                .icon {
                    padding: 10px;
                    border-radius: 50%;
                    border: 1px solid var(--main-color);
                    i {
                        color: var(--main-color);
                        /* font-size: 1.2em; */
                    }
                }
                span {
                    color: #fff;
                    font-size: 1.3em;
                    font-weight: bold;
                }
            }
        }
        .subscribe {
            form {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 40px;
                border: none !important;
                input[type="email"] {
                    padding: 15px 20px;
                    border-radius: 10px;
                    border: 2px solid var(--black-color);
                    background-color: transparent;
                    font-size: 14px;
                    margin-bottom: 0 !important;
                    color: #fff;
                    font-family: "Plus Jakarta Sans", serif;
                    &::placeholder {
                        color: #fff;
                        transition: .6s;
                    }
                    &:focus::placeholder {
                        opacity: 0;
                    }
                }
                button {
                    font-family: "Plus Jakarta Sans", serif;
                    padding: 15px 20px;
                    border-radius: 10px;
                    background-color: var(--main-color);
                    color: var(--black-color);
                    font-size: 14px;
                    font-weight: bold;
                    border-color: var(--main-color);
                    color: #000;
                    cursor: pointer;
                    transition:.3s;
                    &:hover {
                        background-color: #fff;
                        border-color: #fff;
                    }
                }
            }
            .social {
                display: flex;
                gap: 10px;
                a {
                    color: var(--main-color);
                    padding: 12px;
                    border-radius: 50%;
                    border: 1px solid var(--main-color);
                    font-size: 1.1em;
                    transition:.3s;
                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }
            }
        }
    }
    .copy-right {
        padding: 50px 0;
        text-align: center;
        color: #fff;
        font-size: 1.1em ;
    }
}




@media (max-width : 786px) {
    header {
        display: none;
    }
    .title {
        .head {
            justify-content: center;
        }
        .text ,
        p,
        a,
        h5 {
            text-align: center;
        }
        h5 {
            font-size: 2.2em;
        }
        .info {
            flex-direction: column;
        }
    }
    section.welcome {
        h2 {
            font-size: 3em;
            text-align: center;
        }
        p {
            font-size: 1.1em;
        }
        .adds {
            flex-direction: column;
            .play, 
            .text {
                width: 100%;
                text-align: center;
            }
        }
    }
    section.about {
        flex-direction: column;
        .benifits {
            .cards {
                .card {
                    padding-left: 0;
                    margin-bottom: 50px;
                    &::before {
                        width: 0;
                    }
                    .circle {
                        display: none;
                    }
                        
                }
            }
        }
        .text {
            text-align: center;
        }
    }
    section.services {
        .boxes {
            .box {
                flex-basis: 100%;
            }
        }
    } 
    section.expertise {
        .holder {
            flex-direction: column;
            padding: 40px;
            .numbers {
                h5 {
                    padding-right: 0;
                    font-size: 2.5em;
                }
                .boxes {
                    .box {
                        .number {
                            font-size: 2.5em;
                        }
                        p {
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                }
            }
            .text {

                width: 100%;
                padding-left: 0;
                .part {
                    gap: 15px;
                }
            }
        }
    }
    section.why {
        .holder {
            flex-direction: column;
        }
    }
    section.join .boxes {
        justify-content: center;
        .box {
            flex-basis: 100%;
        }
    }
    section.how {
        .cards {
            .card {
                flex-basis: 100%;
            }
        }
    }
    section.portfolio  {
        .cards {
            .card {
                width: 100%;
            }
        }
    }
    section.testimonials {
        .rate-holder {
            flex-direction: column;
            justify-content: center;
            .final-rate {
                width: 100%;
            }
        }
    }
    section.benifits-parts .parts {
        padding: 30px;
        .part {
            width: 100%;
            padding-top: 20px;
            &:not(:first-child) {
                padding-left: 0;
                border-left: none;
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--black-color);
                padding-bottom: 20px;
            }
        }
    }
    section.key-benifit .boxes .box {
        flex-basis: 100%;
    }
    section.collaborate {
        h2 {
            font-size: 3em;
        }
        a {
            width: 120px;
            height: 120px;
            text-align: center;
        }
    }   
    footer  {
        text-align: center;
        .social {
            justify-content: center !important;
        }
    }
}
