section.member {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    gap: 5%;
    h4 {
        font-size: 3em;
        color: #fff;
        span {
            color: var(--main-color);
        }
    }
    .main {
        max-width: calc(95% - 400px) !important;
        h6 {
            color: var(--main-color);
            font-size: 1em;
        }
        .text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            h5 {
                color: #fff;
                font-size: 2.2em;
            }
            .social {
                a i {
                    color: var(--main-color);
                    border: 1px solid var(--main-color);
                    padding: 12px;
                    border-radius: 50%;
                    margin-left: 10px;
                    transition: .2s;
                    &:hover {
                        background-color: var(--main-color);
                        color: #fff;
                    }
                }
            }
        }
        .boxes {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .box {
                display: flex;
                gap: 20px;
                align-items: center;
                padding: 20px 0;
                &:first-child {
                    border-bottom: 1px solid #FFFFFF1A;
                }
                i {
                    color: var(--main-color);
                    font-size: 2em;
                    padding: 20px;
                    border-radius: 50%;
                    backdrop-filter: blur(50px);
                    border: 1px solid #FFFFFF1A;
                }
                .adds {
                    h5 {
                        color: #fff;
                        font-size: 1.4em;
                        margin-bottom: 10px;
                    }
                    a {
                        color: #eee;
                        font-size: 1.1em;
                    }
                }
            }
        }
        .part {
            margin-top: 70px;
            p {
                line-height: 2;
                color: #eee;
                margin: 20px 0;
            }
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                li {
                    width: calc(100% / 2);
                    display: flex;
                    align-items: center;
                    .marker {
                        padding: 8px;
                        margin-right: 5px;
                        border: 1px solid var(--main-color);
                        border-radius: 50%;
                        width: 15px;
                        height: 15px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &::before {
                            content: '';
                            background-color: var(--main-color);
                            border-radius: 50%;
                            padding: 4px;
                            animation: scaleing 1.2s linear infinite;
                        }
                    }
                    
                    p {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    .side {
        width: 45%;
        .img {
            width: 390px;
            height: 459px;
            margin-bottom: 50px;
            img {
                max-width: 100%;
                aspect-ratio: 1 / 1.2;
                object-fit: cover;
            }
        }
    }
}


@keyframes scaleing {
    0% , 100% {
        box-shadow: 0 0 0px 0px var(--main-color);
    }
    50% {
        box-shadow: 0 0 5px 2px var(--main-color);
    }
}